*{

	box-sizing: border-box;
	margin:0%;

}
.display_flex{
	display:flex;
}

html,body{
	width:100%;
	height:100%;
	flex-wrap: wrap;
	justify-content: center;
	justify-content: space-around;
}

#titulo{
	border:solid pink 2px;
	width:30%;
	height: 100%;
	justify-content: center;
	align-items: center;
}

header{
	flex-wrap: wrap;
	border:solid green 2px;
	width:98%;
	height: 10%;
}

nav{
	border:solid yellow 2px;
	width:70%;
	height: 100%;
	justify-content: center;
	align-items: center;
}
.menu{ 
	width: 100%;
	justify-content: space-around;
	flex-wrap: wrap;
	list-style: none;
	font-family: 'Krona One', sans-serif;
	font-size: 20px;
}

section{
	border:solid green 2px;
	width: 80%;
	height: 78%;
	justify-content: space-around;
	align-items: center;
}

aside{
	border:solid;
	width: 15%;
	height: 78%
}

article{
	border:solid orange 2px;
}
#img {
	width: 35%;
	height: 100%;
}
#txt {
	width: 60%;
	height: 100%;
}
footer{
	border:solid;
	width:98%;
	height: 8%;
}